<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ .Site.BaseURL }}#person",
  "name": "Vivek Rajkumar",
  "alternateName": ["Vivek Rajkumar University of Pittsburgh", "Vivek Rajkumar Pitt"],
  "givenName": "Vivek",
  "familyName": "Rajkumar",
  "url": "{{ .Site.BaseURL }}",
  "image": "{{ .Site.BaseURL }}authors/admin/avatar.jpg",
  "jobTitle": "Computer Science Graduate",
  "worksFor": {
    "@type": "EducationalOrganization",
    "name": "University of Pittsburgh",
    "alternateName": "Pitt",
    "url": "https://www.pitt.edu/"
  },
  "alumniOf": [
    {
      "@type": "EducationalOrganization",
      "name": "University of Pittsburgh",
      "alternateName": "Pitt"
      "url": "https://www.pitt.edu/"
    }
  ],
  "description": "Vivek Rajkumar is a graduate of the University of Pittsburgh (Pitt) with degrees in Computer Science, Psychology, and Philosophy.",
  "knowsAbout": ["Computer Science", "Psychology", "Philosophy", "Cognitive Science", "Artificial Intelligence"],
  "sameAs": [
    "https://www.linkedin.com/in/~vivek",
    "https://github.com/vrajkumar128"
  ],
  "mainEntityOfPage": {
    "@type": "ProfilePage",
    "@id": "{{ .Site.BaseURL }}#profilepage"
  }
}
</script>