{{ define "main" }}

<div class="universal-wrapper pt-3">
    <h1>Page Not Found</h1>

    <p>You've reached a page that doesn't exist on Vivek Rajkumar's University of Pittsburgh academic website.</p>

    <p>Try using the search box below to find what you're looking for:</p>

    {{ partial "search" . }}

    <p>Or return to the <a href="/">homepage</a> to learn more about my research and work at the University of
        Pittsburgh.</p>

    <p>Popular sections:</p>
    <ul>
        <li><a href="/#about">About Me</a></li>
        <li><a href="/#research">Research</a></li>
        <li><a href="/#publications">Publications</a></li>
        <li><a href="/#contact">Contact</a></li>
    </ul>
</div>

{{ end }}